---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="app-layout flex items-center justify-start pt-2">
      <LinkButton
        id="back-button"
        href="/"
        class="surface-panel focus-outline inline-flex items-center gap-1 rounded-full border border-border px-3 py-2 text-sm text-foreground/64 transition-colors hover:text-foreground"
      >
        <IconChevronLeft class="inline-block size-4 rtl:rotate-180" />
        <span>Back</span>
      </LinkButton>
    </div>
  )
}

<script>
  /* Update Search Praam */
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");

    const backUrl = sessionStorage.getItem("backUrl");

    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }

  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
